
 
<div class="container mt-5">
  <h1><%= title %></h1>
  <div class="alert alert-warning">
    是否确认删除账户ID:  <strong><%= character.account_id %></strong> 下的 <strong><%= character.char_name %></strong>（ID: <%= character.char_id %>）？
  </div>
  <form method="post">
    <button type="submit" class="btn btn-danger">确认删除</button>
    <a href="javascript:history.back();" class="btn btn-secondary">取消</a>
  </form>
</div>